In [37]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\rabis\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [22]:
data=pd.read_csv('http://bit.ly/2otjC25')
data=data.drop(["index","price", "sq_price"], axis=1)
data=data[0:10]

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
area         10 non-null float64
bathrooms    10 non-null float64
dtypes: float64(2)
memory usage: 240.0 bytes

In [24]:
data

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [38]:
data.loc[: , ("y1")]=[1, 1, 1, 0, 0, 1, 0, 1, 1, 1]
data.loc[:, ("y2")]= data["y1"]==0
data.loc[:, ("y2")]=data["y2"].astype(int)
data

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [39]:
inputX=data.loc[:, ['area', 'bathroom']].as_matrix()
inputY=data.loc[:, ["y1", "y2"]].as_matrix()

C:\Users\rabis\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)
C:\Users\rabis\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\rabis\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [40]:
inputX

array([[2104.,   nan],
       [1600.,   nan],
       [2400.,   nan],
       [1416.,   nan],
       [3000.,   nan],
       [1985.,   nan],
       [1534.,   nan],
       [1427.,   nan],
       [1380.,   nan],
       [1494.,   nan]])

In [41]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]], dtype=int64)

In [42]:
learning_rate=0.0001
training_epochs=2000
display_step=50
n_samples=inputX.size

In [43]:
x=tf.placeholder(tf.float32, [None, 2])
w=tf.Variable(tf.zeros([2,2]))
b=tf.Variable(tf.zeros([2]))
y_values=tf.add(tf.matmul(x, w), b)
y=tf.nn.softmax(y_values)
y_=tf.placeholder(tf.float32, [None, 2])

In [45]:
cost=tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)
optimizer=tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [46]:
init=tf.initialize_all_variables()
sess=tf.Session()
sess.run(init)

WARNING:tensorflow:From C:\Users\rabis\Anaconda3\lib\site-packages\tensorflow\python\util\tf_should_use.py:118: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [52]:
for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x:inputX, y_:inputY})
    
    if (i) % display_step==0:
        cc=sess.run(cost, feed_dict={x:inputX, y_:inputY})
        print ("Training step:" , '%04d' % (i), "cost=", "{:.9f}".format(cc))
        
print("optimization Finished!")

training_cost=sess.run(cost, feed_dict={x:inputX, y_:inputY})
print ("training cost=", training_cost, "w=", sess.run(w), "b=", sess.run(b), '\n')

Training step: 0000 cost= nan
Training step: 0050 cost= nan
Training step: 0100 cost= nan
Training step: 0150 cost= nan
Training step: 0200 cost= nan
Training step: 0250 cost= nan
Training step: 0300 cost= nan
Training step: 0350 cost= nan
Training step: 0400 cost= nan
Training step: 0450 cost= nan
Training step: 0500 cost= nan
Training step: 0550 cost= nan
Training step: 0600 cost= nan
Training step: 0650 cost= nan
Training step: 0700 cost= nan
Training step: 0750 cost= nan
Training step: 0800 cost= nan
Training step: 0850 cost= nan
Training step: 0900 cost= nan
Training step: 0950 cost= nan
Training step: 1000 cost= nan
Training step: 1050 cost= nan
Training step: 1100 cost= nan
Training step: 1150 cost= nan
Training step: 1200 cost= nan
Training step: 1250 cost= nan
Training step: 1300 cost= nan
Training step: 1350 cost= nan
Training step: 1400 cost= nan
Training step: 1450 cost= nan
Training step: 1500 cost= nan
Training step: 1550 cost= nan
Training step: 1600 cost= nan
Training step: 1650 cost= nan
Training step: 1700 cost= nan
Training step: 1750 cost= nan
Training step: 1800 cost= nan
Training step: 1850 cost= nan
Training step: 1900 cost= nan
Training step: 1950 cost= nan
optimization Finished!
training cost= nan w= [[nan nan]
 [nan nan]] b= [nan nan]

In [53]:
sess.run(y, feed_dict={x:inputX})

array([[nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan]], dtype=float32)

In [54]:
sess.run(tf.nn.softmax([1.,2.]))

array([0.26894143, 0.7310586 ], dtype=float32)