In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

In [2]:
df=pd.read_csv('D:\\python\\Titanic_ML\\box_office\\box_office_predictions.csv')

In [3]:
df.loc[df['score']<6.7 , 'score']=0
df.loc[df['score']>6.7, 'score']=1
df.head()

,budget,country,director,genre,gross,name,rating,runtime,score,star,studio,votes
0,237000000.0,UK,James Cameron,Action,760507625.0,Avatar (2009),PG-13,162,1.0,Sam Worthington,Twentieth Century Fox Film Corporation,958400
1,200000000.0,USA,James Cameron,Drama,658672302.0,Titanic (1997),PG-13,194,1.0,Leonardo DiCaprio,Twentieth Century Fox Film Corporation,865551
2,150000000.0,USA,Colin Trevorrow,Action,652270625.0,Jurassic World (2015),PG-13,124,1.0,Chris Pratt,Universal Pictures,470625
3,220000000.0,USA,Joss Whedon,Action,623357910.0,The Avengers (2012),PG-13,143,1.0,Robert Downey Jr.,Marvel Studios,1069292
4,185000000.0,USA,Christopher Nolan,Action,534858444.0,The Dark Knight (2008),PG-13,152,1.0,Christian Bale,Warner Bros.,1845853

In [4]:
train_test_data=[df]

In [5]:
genre_mapping={"Comedy":0,"Drama":0.5,"Action":1,"Crime":1.5,"Adventure":2,"Biography":2.5,"Animation":3,
              "Horror":3.5,"Mystery":4,"Fantasy":5,"Thriller":5.5,"Romance":6,"Sci-Fi":6.5,"Family":7,"Musical":7.5,
              "Western":8,"War":8.5}
for dataset in train_test_data:
    dataset['genre']=dataset['genre'].map(genre_mapping)

In [6]:
rating_mapping={"R":0.0,"PG-13":0.5,"PG":1.0, "NOT RATED":1.5,"G":2.0,"UNRATED":2.5,"Not specified":3.0,
                "NC-17":3.5,"TV-PG":4.0,"TV-14":4.5,"TV-MA":5.0,"B":5.5,"B15":6}

for dataset in train_test_data:
    dataset['rating']=dataset['rating'].map(rating_mapping)

In [7]:
for dataset in train_test_data:
    dataset['country']=dataset['country'].str[:1]

In [8]:
df['country'].value_counts()

U    4896
F     253
C     162
I     140
G     123
S      99
A      85
J      60
H      45
N      37
D      31
B      21
M      14
R      14
T       9
P       7
W       4
Name: country, dtype: int64

In [9]:
country_mapping={"U":0.1, "F":0.2,"C":0.3,"I":0.4,"G":0.5,"S":0.6,"A":0.7,"J":0.8,"H":0.9,"N":1.0,"N":1.1,"D":1.2,"B":1.3,
                "M":1.4,"R":1.5,"T":1.6,"P":1.7,"W":1.8}

for dataset in train_test_data:
    dataset['country']=dataset['country'].map(country_mapping)

In [10]:
df.head()

,budget,country,director,genre,gross,name,rating,runtime,score,star,studio,votes
0,237000000.0,0.1,James Cameron,1.0,760507625.0,Avatar (2009),0.5,162,1.0,Sam Worthington,Twentieth Century Fox Film Corporation,958400
1,200000000.0,0.1,James Cameron,0.5,658672302.0,Titanic (1997),0.5,194,1.0,Leonardo DiCaprio,Twentieth Century Fox Film Corporation,865551
2,150000000.0,0.1,Colin Trevorrow,1.0,652270625.0,Jurassic World (2015),0.5,124,1.0,Chris Pratt,Universal Pictures,470625
3,220000000.0,0.1,Joss Whedon,1.0,623357910.0,The Avengers (2012),0.5,143,1.0,Robert Downey Jr.,Marvel Studios,1069292
4,185000000.0,0.1,Christopher Nolan,1.0,534858444.0,The Dark Knight (2008),0.5,152,1.0,Christian Bale,Warner Bros.,1845853

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 12 columns):
budget      6000 non-null float64
country     6000 non-null float64
director    6000 non-null object
genre       6000 non-null float64
gross       6000 non-null float64
name        6000 non-null object
rating      6000 non-null float64
runtime     6000 non-null int64
score       6000 non-null float64
star        6000 non-null object
studio      6000 non-null object
votes       6000 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 562.6+ KB

In [12]:
df.votes.min()

27

In [13]:
df.votes.max()

1868308

In [14]:
df.votes

0        958400
1        865551
2        470625
3       1069292
4       1845853
5        366803
6        587113
7        540298
8       1259109
9        344003
10       538184
11       570136
12       605687
13       608085
14       444625
15       751734
16       589626
17       687813
18       345057
19       466249
20       611380
21       774469
22       572131
23       453462
24       189777
25       315528
26       209805
27       670760
28       441406
29       311380
         ...
5970      46731
5971       8630
5972      10291
5973      10126
5974       1412
5975      35552
5976       3269
5977      16107
5978      14092
5979       7884
5980       6170
5981      20233
5982       8636
5983      15308
5984      14517
5985       6407
5986       1044
5987      40496
5988       3465
5989       8373
5990       4939
5991       4239
5992      38543
5993       2492
5994      20463
5995       4557
5996       5540
5997      16674
5998       9055
5999      21145
Name: votes, Length: 6000, dtype: int64

In [15]:
for dataset in train_test_data:
    dataset.loc[dataset['votes']<=1000, 'votes']=0
    dataset.loc[(dataset['votes']>1000) & (dataset['votes']<10000), 'votes']=0.2
    dataset.loc[(dataset['votes']>10000) & (dataset['votes']<20000), 'votes']=0.4
    dataset.loc[(dataset['votes']>20000) & (dataset['votes']<40000), 'votes']=0.6
    dataset.loc[(dataset['votes']>40000) & (dataset['votes']<80000), 'votes']=0.8
    dataset.loc[(dataset['votes']>80000) & (dataset['votes']<100000), 'votes']=1.0
    dataset.loc[dataset['votes']>100000, 'votes']=1.2

In [16]:
df.sample(5)

,budget,country,director,genre,gross,name,rating,runtime,score,star,studio,votes
5590,0.0,0.1,Gregg Araki,0.0,98967.0,Totally F***ed Up (1993),2.5,78,0.0,James Duval,Blurco,0.2
2570,20000000.0,0.3,Michael J. Bassett,2.0,17529157.0,Terror en Silent Hill 2: la revelación (2012),0.0,95,0.0,Adelaide Clemens,Davis-Films,0.8
135,33000000.0,0.1,Jay Roach,1.0,206040086.0,Austin Powers: The Spy Who Shagged Me (1999),0.5,95,0.0,Mike Myers,New Line Cinema,1.2
3943,0.0,0.1,Woody Allen,0.0,3825351.0,Melinda and Melinda (2004),0.5,99,0.0,Will Ferrell,Fox Searchlight Pictures,0.6
1000,46000000.0,0.1,Edward Zwick,1.0,59031057.0,Courage Under Fire (1996),0.0,116,0.0,Denzel Washington,Davis Entertainment,0.8

In [18]:
df.votes.value_counts()

0.2        1547
1.2        1168
0.6        1011
0.8         918
0.4         847
1.0         288
0.0         220
20000.0       1
Name: votes, dtype: int64

In [19]:
df.score.value_counts()

0.0    3474
1.0    2257
6.7     269
Name: score, dtype: int64

In [20]:
feature_drop=['director','name','star','studio']
df=df.drop(feature_drop, axis=1)

In [21]:
df.head()

        budget  country  genre        gross  rating  runtime  score  votes
0  237000000.0      0.1    1.0  760507625.0     0.5      162    1.0    1.2
1  200000000.0      0.1    0.5  658672302.0     0.5      194    1.0    1.2
2  150000000.0      0.1    1.0  652270625.0     0.5      124    1.0    1.2
3  220000000.0      0.1    1.0  623357910.0     0.5      143    1.0    1.2
4  185000000.0      0.1    1.0  534858444.0     0.5      152    1.0    1.2

In [22]:
df.runtime.min()

50

In [23]:
df.runtime.max()

366

In [24]:
df.runtime.mode()

0    100
dtype: int64